.box {
  background-color: darkblue;
  color: white;
  padding: 20px;
  border: 3px solid green;
  margin: 30px;
}

.box1 {
  width: 200px;
  height: 100px;
  overflow: scroll;
}

.box2 {
  width: 50%;
}

.box2 p {
  width: 50%;
}

.box3 {
  max-width: 800px;
  min-width: 500px;
}
