a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

a:active {
  background-color: purple;
}

a:focus {
  background-color: yellow;
}

a:visited {
  color: purple;
  background-color: coral;
  border-color: gray;
  outline-color: orange;
  text-decoration-color: red;
}
