.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  flex-wrap: wrap-reverse;
}

.flex-item {
  height: 200px;
  width: 200px;
  background-color: coral;
  border: 1px solid black;
}
