.box {
  background-color: darkblue;
  color: white;

  /*4 yönden de 20 px içten boşluk bırakma*/

  /*padding:20px;*/

  width: 350px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 15px;

  /* tek seferde 4 yönede padding değerlerinin atama
  Yön:Top-> right-> bottom -> left*/
  padding: 20px 30px 20px 15px;

  /*iki özelliğe atama yaparsak sırasıyla dikey ve yatay değerelere atama yapar
  padding : 20px 40px;
  */

  /*3 değere atama yaparsak sırasıyla top right%left bottom değerlerine atama yapar.
  padding: 20px 15px 25px*/
}
